.top-bar {
	background-color: #eac67a;
	z-index: 100;
	padding: 0;
}

.top-bar ul {
	background-color: inherit;
	padding: .5em;
}

.title-logo, .top-bar a {
	color: #984b43;
}

.top-bar a:hover {
	color: #233237;
}

.top-bar button {
	background-color: #984b43;
}

.top-bar button:hover {
	background-color: #233237;
}

.dropdown-sub {
	background-color: #eac67a;
	z-index: 99;
}

.dropdown:hover .dropdown-sub {
	margin-top: 0.5em;
	background-color: #eac67a;
	display:block;
	z-index: 99;
}

.top-bar .is-active {
	border-box 0px #000000;
}







